
/* 中间内容 */
.middleImg{
	width:100%;
}
.middleImg img{
	width:100%;
	height:228px;
}
.middleContent{
	width:880px;
	margin:0 auto;
	/* border:1px solid red; */
	
}
.middleLeftContent{
	    display: inline-block;
    vertical-align: top;
    margin-right:50px;
}
.middleLeftContent{
	_zoom:1;
	*display:inline;
}
.company{
	border: 1px solid transparent;
    width: 205px;
    height: 160px;
    text-align: center;
    margin-top: -35px;
    background: #fb7a02;
    color: white;
}
.companyIntrocuction{
	margin-top: 70px;
    font-size: 25px;
}
.companyElish{
	font-size:13px;
}
.linkJWJ{
	text-align: center;
    border: 1px solid #eeeeee;
    /* box-sizing: border-box; */
    padding: 8px 0;
    margin-top: -1px;
    font-size:15px;
}
.middleRightContent{
	width: 615px;
    /* border: 1px solid; */
    display:inline-block;
}
.middleRightContent{
	_zoom:1;
	*display:inline;
}
.localtionInfo{
	color:#a0a0a0;
	padding: 50px 0 5px 0;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom:20px;
}
.localtionInfo a{
	color:#a0a0a0;
}
.selectedColor{
	color:#fb7a02 !important;
}
.newsItems{
	margin-bottom:55px;
}

.newsTitle{
	font-size:17px;
	width: 490px;
    /* border: 1px solid; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    display:inline-block;
}
.newsTitle{
	_zoom:1;
	*display:inline;
}
.publicTime{
	font-size:12px;
	display:inline-block;
}
.publicTime{
	_zoom:1;
	*display:inline;
}
.newsDetail{
	margin-top: 10px;
}
.seeDetail{
	color:#fb7a02 !important;
}
.pageBox{
	text-align:left;
	margin-bottom: 25px;
}
.pageBox button{
	border: none;
    background: none;
    font-weight: 600;
    margin-right: 30px;
    cursor:pointer;
    outline:none;
}
.pageBox span{
	color: black;
    font-weight: 600;
}
.allPage{
	margin-left:70px;
}

